@import '../../styles/colors.scss';

*
{
  padding: 0px;
}
::-webkit-input-placeholder {color:$white}
::-moz-placeholder          {color:$white}/* Firefox 19+ */
:-moz-placeholder           {color:$white;}/* Firefox 18- */
:-ms-input-placeholder      {color:$white}
.logo
{
  font-size: 64px;
  color: $white;
  text-align: center;
}

.authorization
{
  position: relative;
}

.container_auth
{
  background: $lightblue;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper
{
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth input
{
  width: 400px;
  height: 60px;
  box-sizing: border-box;
  background: rgba(300,300,300,0.5);
  border: 0;
  border-radius: 5px;
  padding: 20px;
  color: $white;
  font-family: GothamProBold;
  margin-top: 20px;
  font-size: 24px;
}

.auth input:first-child
{
  margin-top: 0px;

}

.auth
{
  margin-top: 140px;
}

.auth_btn
{
  margin-top: 20px;
  font-size: 24px;
  width: 400px;
  height: 60px;
  box-sizing: border-box;
  background: $white;
  border: 0;
  border-radius: 5px;
  color: $lightblue;
  font-size: 36px;
  font-family: GothamProBold;
  line-height: normal;
}

