*
{
  padding: 0;
  margin: 0;
  font-family: Calibri;
}

body
{
  position: relative;
}

.content
{
  width: 100%;
  height: 300px;
  padding-top: 1px;
}

.content button
{
  display: block;
  margin: 120px auto;
  padding: 5px 15px;
  font-size: 20px;
  background: transparent;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  user-select: none;
}

.modal
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0px;
    z-index: 1;
    color: rgba(4,4,4,0.82);

}

.mcontent
{
  width: 500px;
  margin: 150px auto;
  min-height: 300px;
  background: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.conthead
{
  width: 500px;
  margin: 0;
  min-height: 120px;
  background: blanchedalmond;
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  color: black;
  box-sizing: border-box;
  padding: 30px 100px;

}

p
{
  margin-top: 30px;
}

ul
{
  margin-top: 30px
}

li
{
  margin-top: 7px;
}

.button
{
  width: 150px;
  height: 40px;
  background: transparent;
  border: 1px solid black;
  margin: 20px auto;
  text-align: center;
  line-height: 40px;
  user-select: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.button:hover
{
  background:blanchedalmond ;
  border: 1px solid blanchedalmond;

}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
