.pagination
  .content
    button(v-on:click="perem") Открыть popup
    transition(name="slide-fade")
      .modal(v-if='per')
        .mcontent
          .conthead Как вы видите, открылось окно
          p Если будете следовать инструкциям, то сможете его закрыть
          ul
            li 1. Нажмите на кнопку, которая находится ниже
            li 2. Наблюдайте за тем, как окно закроется
          .button(v-on:click="perem") Я кнопка
