*
{
  padding: 0;
  margin: 0;
}

#slider-container{
  width: 100%;
  height: 200px;
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;

}

#arrows
{
  width: 500px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


#arrows .arrow
{
  width: 200px;
  border: 1px solid black;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
  margin: 0 10px;

}

#slides
{
  text-align: center;
  color: #000;
  font-size: 80px;
}

#slides div
{
  font-weight: lighter
}

#dots
{
  width: 150px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dot
{
  width: 10px;
  height: 10px;
  border-radius: 100px;
  border: 1px solid black;
  transition: 0.3s ease;
  cursor: pointer;
}

.dot:hover
{
  background: red;
}



