.todo
  #slider-container
    #slides
      div(v-for="(city,index) in cities")
        span(v-if="index==count") {{city.text}}
  #arrows
    .arrow#toleft(v-on:click="prewslide") prew
    .arrow#toright(v-on:click="nextslide") next
  #dots
    .dot(v-on:click="")
    .dot
    .dot
    .dot
    .dot
    my-component
