

.chat-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  }

.allchates{
  width: 50%;
  padding: 10px 30px;
  box-sizing: border-box;
  border-right: 1px solid gray;
  box-sizing: border-box;
}

.allmessages{
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  background: blue;
}

.onechat{
  padding: 20px;
  background: lightgray;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease;

&:hover{
  box-shadow: 1px 1px 6px gray;
};
}

.newmessage{
  width: 10px;
  height: 10px;
  background: orangered;
  border-radius: 100px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.onechatRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}



