.chat-page
  scrollBar.allchates(v-bind:style="{height: wHeight + 'px'}")

   .onechatRow(v-for="item in allMessages")
    .onechat
      .chattitle {{item.author}}
      .messageprew {{item.message}}
      .date {{item.date}}
      .newmessage(v-if="item.newMessage")

  .allmessages(v-bind:style="{height: wHeight + 'px'}")
    .messagesubcont


