//GothamProNormal
@font-face{
  font-family: 'GothamPro';
  src: url('../styles/fonts/GothamPro.woff2') format('woff2'),
  url('../styles/fonts/GothamPro.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

//GothamProBold
@font-face{
  font-family: 'GothamProBold';
  src: url('../styles/fonts/GothamPro-Bold.woff2') format('woff2'),
  url('../styles/fonts/GothamPro-Bold.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

//GothamProItalic
@font-face{
  font-family: 'GothamProItalic';
  src: url('../styles/fonts/GothamPro-Italic.woff2') format('woff2'),
  url('../styles/fonts/GothamPro-Italic.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

