@import '../../styles/colors.scss';

.mainhead_header {
  width: 100%;
  padding: 23px 0;
  background: $lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .header_wrapper
  {
    width: 800px;
    background: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;



    a{
      color: $white;
      text-decoration: none;
      font-family: GothamPro;
      font-size: 18px;
    }
  }

  .logo
{
  font-size: 30px;
  color: $white;
  position: absolute;
  top: 18px;
  left: 39px;
}
}



